version: v2
budget: ai2/d5
description: Helios no warmup
tasks:
  # We only have one step in our experiment, so there's only one entry in this list
  - name: training
    image:
      # You will want to replace `username` below with your Beaker username
      beaker: henryh/henryh-helios-2025024
    command: [ torchrun , latent_mim.py, train]
    result:
      # Beaker will capture anything that's written to this location and store it in the results
      # dataset. This location is required to be a directory, not a file.
      path: /outputs
    resources:
      gpuCount: 1
      sharedMemory: 128GiB
    context:
      priority: high
      preemptible: true
    constraints:
      cluster: [ ai2/jupiter-cirrascale-2, ai2/saturn-cirrascale]
      # Ensure secrets match your user names for them
    datasets:
      - mountPath: /weka/dfive-default
        source:
          weka: dfive-default
      - mountPath: /root/service-account.json
        source:
          secret: GCP_CREDENTIALS
    envVars:
      - name: WANDB_API_KEY
        secret: WANDB_API_KEY
      - name: GEO_BENCH_DIR
        value: /stage/data/presto-geobench/dataset/geobench
      - name: USE_OUTPUT_FOLDER
        value: /outputs
