ai2-olmo-core @ git+https://github.com/allenai/OLMo-core.git@ebe0b1981b81576ce7a87362501dc84c6d9adb3f # Pin here until >2.1.0 is released.
albumentations
beaker-py==1.34.1
breizhcrops==0.0.4.1 # Force the latest available
cartopy
class-registry
datasets==3.6.0
einops>=0.7.0
gcsfs
geobench @ git+https://github.com/ServiceNow/geo-bench.git  # Unreleased relaxed dependencies
GitPython>=3.0,<4.0
hdf5plugin
huggingface-hub>=0.24.0 # Force huggingface hub version to be higher
interrogate
matplotlib
numpy
pandas>=2.2 # Force this higher than 1.x
pandera
pre-commit
pytest
rasterio
rioxarray
shapely>=2 # temporary hack to force shapely 2.x
torch>=2.7
torchvision
universal_pathlib>=0.2.5
wandb>=0.19.0
