name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        git clone https://github.com/allenai/OLMo-core.git
        cd OLMo-core
        git checkout v2 && pip install .


    - name: Run tests
      run: |
        pytest tests/
